<div class="team-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">People Involved</h3>
        <h4 class="lead">We have an amazing crew of organizers, panalists, session leads, and speakers! </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/horst2.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Allison Horst</h4>
            <p class="lead">Session Lead</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                <a href="https://twitter.com/allison_horst"> <i class="fab fa-twitter"></i></a>
                <a href="https://www.allisonhorst.com/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/horst2.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Allison Horst</h4>
            <p class="lead">Session Lead</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                <a href="https://twitter.com/allison_horst"> <i class="fab fa-twitter"></i></a>
                <a href="https://www.allisonhorst.com/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/horst2.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Allison Horst</h4>
            <p class="lead">Session Lead</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                <a href="https://twitter.com/allison_horst"> <i class="fab fa-twitter"></i></a>
                <a href="https://www.allisonhorst.com/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/horst2.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Allison Horst</h4>
            <p class="lead">Session Lead</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                <a href="https://twitter.com/allison_horst"> <i class="fab fa-twitter"></i></a>
                <a href="https://www.allisonhorst.com/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/horst2.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Allison Horst</h4>
            <p class="lead">Session Lead</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                <a href="https://twitter.com/allison_horst"> <i class="fab fa-twitter"></i></a>
                <a href="https://www.allisonhorst.com/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/horst2.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Allison Horst</h4>
            <p class="lead">Session Lead</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                <a href="https://twitter.com/allison_horst"> <i class="fab fa-twitter"></i></a>
                <a href="https://www.allisonhorst.com/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>