<div class="team-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">Featuring</h3>
        <h4 class="lead">Joining us in the sessions will be researchers, educators, artists, computer scientists, and more! Below is a sneak peek into the amazing crew of organizers, panelists, session leads, and speakers who will be joining us this year. </h4>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/anyene.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
              <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Ijeamaka Anyene</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                data analyst and data viz
              </p>  
              <p>
                <a href="https://twitter.com/ijeamaka_a"> <i class="fab fa-twitter"></i></a>
                <a href="https://ijeamaka-anyene.netlify.app/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>

       <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/barter2.png' | relative_url }}">
              </a>
            </div>
          </div>
              <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Rebecca Barter</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                researcher, data scientist, and data viz
              </p> 
                  <p>
                <a href="https://twitter.com/rlbarter"> <i class="fab fa-twitter"></i></a>
                <a href="http://www.rebeccabarter.com/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/elavsky.jpg' | relative_url }}">
              </a>
            </div>
          </div>
              <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Frank Elavsky</h4>
            <p class="lead">he/him</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                accessibility and data experience engineer
              </p>  
              <p>
                <a href="https://twitter.com/FrankElavsky"> <i class="fab fa-twitter"></i></a>
                <a href="https://chartability.fizz.studio/"><i class="fas fa-desktop"></i></a>
              </p>
            
              </ul>
            </div>
          </div>
        </div>
      </div>


       <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/evans.png' | relative_url }}">
              </a>
            </div>
          </div>
              <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Julia Evans</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                programmer and maker
              </p>  
              <p>
                <a href="https://twitter.com/b0rk"> <i class="fab fa-twitter"></i></a>
                <a href="https://wizardzines.com/"><i class="fas fa-desktop"></i></a>
              </p>
            
              </ul>
            </div>
          </div>
        </div>
      </div>

           <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/gelfand.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Sharla Gelfand</h4>
            <p class="lead">they/them</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                data wrangler, developer, and data viz
              </p>  
              <p>
                <a href="https://twitter.com/sharlagelfand"> <i class="fab fa-twitter"></i></a>
                <a href="https://sharla.online/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/horst2.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
              <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Allison Horst</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                professor, artist, and researcher
              </p> 
              <p>
                <a href="https://twitter.com/allison_horst"> <i class="fab fa-twitter"></i></a>
                <a href="https://www.allisonhorst.com/"><i class="fas fa-desktop"></i></a>
              </p>                        
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/kambitsch.jpg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Patricia Kambitsch</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                visual storyteller and artist
              </p>
              <p>
                <a href="https://twitter.com/playthink"> <i class="fab fa-twitter"></i></a>
                <a href="https://playthink.com/"><i class="fas fa-desktop"></i></a>
              </p> 
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/koy.png' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Kevin Koy</h4>
            <p class="lead">he/him</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
               <p>
                human-centered design x data science at IDEO
              </p> 
              <p>
                <a href="https://twitter.com/kevkoy"> <i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/kevin-koy"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>
 
      
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/kross2.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Sean Kross</h4>
            <p class="lead">he/him</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
               <p>
                researcher, educator, and developer
              </p> 
              <p>
                <a href="https://twitter.com/seankross?lang=en"> <i class="fab fa-twitter"></i></a>
                <a href="https://seankross.com/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>
 
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/lupi.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Giorgia Lupi</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                information designer and partner at Pentagram
                </p>
                <p>
                <a href="https://twitter.com/giorgialupi"> <i class="fab fa-twitter"></i></a>
                <a href="http://giorgialupi.com/"><i class="fas fa-desktop"></i></a>                
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/martinez.jpg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Ciera Martinez</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                researcher, biologist, and data scientist
              </p> 
              <p>
                <a href="https://twitter.com/cierareports"> <i class="fab fa-twitter"></i></a>
                <a href="https://www.cieramartinez.org/"><i class="fas fa-desktop"></i></a> 
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/mirk.jpg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Sarah Mirk</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                writer, editor, and good ideas
              </p> 
              <p>
                <a href="https://twitter.com/sarahmirk"> <i class="fab fa-twitter"></i></a>
                <a href="https://www.mirkwork.com/"><i class="fas fa-desktop"></i></a> 
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>

       <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/rao.jpg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Grishma Rao</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
               artist, writer, emerging technology designer
              </p>
              <p>
                <a href="https://twitter.com/charlienothing"> <i class="fab fa-twitter"></i></a>
                <a href="http://www.grishmarao.com"><i class="fas fa-desktop"></i></a>
              </p>               
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/robertson.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Tara Robertson</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
               equity and inclusion advocate and rogue librarian
              </p>
              <p>
                <a href="https://twitter.com/tararobertson"> <i class="fab fa-twitter"></i></a>
                <a href="https://tararobertson.ca/"><i class="fas fa-desktop"></i></a>
              </p>               
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/stoudt.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
              <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Sara Stoudt</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                professor, stats communicator
              </p> 
              <p>
                <a href="https://twitter.com/sastoudt"> <i class="fab fa-twitter"></i></a>
                <a href="https://sastoudt.github.io/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/walker.png' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Chris Walker</h4>
            <p class="lead">he/him</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                data x design
              </p> 
              <p>
                <a href="https://twitter.com/c_b_walker"><i class="fab fa-twitter"></i></a>
                <a href="https://www.chrisbwalker.com/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>

            <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/vasquez2.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Valeri Vasquez</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                researcher and data scientist
              </p> 
              <p>
                <a href="https://twitter.com/valeri_vasquez"> <i class="fab fa-twitter"></i></a>
                <a href="https://vnvasquez.github.io/"><i class="fas fa-desktop"></i></a>
              </p>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/winter.png' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Peter Winter</h4>
            <p class="lead">he/him</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                Data as a creative medium for design
              </p> 
              <p>
                <a href="https://twitter.com/pwinty"><i class="fab fa-twitter"></i></a>
                <a href="http://peterbwinter.com"><i class="fas fa-desktop"></i></a>
              </p>
                
              </ul>
            </div>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/wu.jpeg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0">Shirley Wu</h4>
            <p class="lead">she/her</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
              <p>
                data visualization designer, developer, and author
              </p> 
              <p>
                <a href="https://twitter.com/sxywu"> <i class="fab fa-twitter"></i></a>
                <a href="https://shirleywu.studio/"><i class="fas fa-desktop"></i></a>
              </p>
                
              </ul>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/moresoon.png' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <br>
            <h4 class="display-4 mb-0"></h4>
            <p class="lead"></p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
               <p>
              </p> 
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>